{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block modales %}          
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ventana_modal_crud_pais">
                  Detalle SubCategoria de Inversiones / SubCategoria {{ object.subcategoria }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <fieldset class="border p-2">
                <legend class="w-auto">SubCategoria de Inversiones</legend>
                <!--
                <label>Pais1:</label>
                <p>{{ object.descripcion }}</p>
                <label>Pais2:</label>
                <p>{{ paises.descripcion }}</p>
                -->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="boostrap-table">
                      <div class="buttons-toolbar-subcategorias">
                      </div>
                        <table id="tabla-paises" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-toggle="true" data-show-fullscreen="true" data-toolbar=".buttons-toolbar-subcategorias" data-locale="es-AR" class="table-responsive">
                          <thead>
                            <tr>
                              <th class="text-center">ID</th>
                              <th class="text-center">Categoria</th>
                              <th class="text-center">SubCategoria</th>
                              <th class="text-center">Estado</th>
                              <th class="text-center">Fecha de Creacion</th>
                              <th class="text-center">Fecha de Modificacion</th>
                              <th class="text-center">Creado por:</th>
                              <th class="text-center">Modificado por:</th>
                              <th class="text-center">ACCIONES</th>
                          </tr>
                          </thead>
                          <tbody>
                          
                            <tr>
                                <td>{{ subcategoria_inversiones.id }}</td>
                                <td>{{ subcategoria_inversiones.categoria }}</td>
                                <td>{{ subcategoria_inversiones.subcategoria }}</td>
                                <td>{{ subcategoria_inversiones.estado|yesno:"Activo,Inactivo" }}</td>
                                <td>{{ subcategoria_inversiones.fc|date:"d/m/Y H:i:s" }}</td>
                                <td>{{ subcategoria_inversiones.fm|date:"d/m/Y H:i:s" }}</td>
                                <td>{{ subcategoria_inversiones.uc }}</td>
                                <td>{{ subcategoria_inversiones.um }}</td>
                                <td class="text-center">
                                  <a href="#" class="btn">
                                      <span class="fas fa-eye"></span>
                                  </a>
                                </td>
                            </tr>
                          
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
                </fieldset>

              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal" onclick="return cerrar_modal_crud_pais()">Cancelar</button>
              </div>
            </div>
          </div>        
{% endblock modales %}