{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}
        
{% endblock head %}


      {% block page_content_1 %}{% endblock page_content_1 %}
      {% block page_content_2 %}{% endblock page_content_2 %}
      {% block page_content_3 %}{% endblock page_content_3 %}
      {% block page_content_4 %}
        {% block jumbotron %}
          {% block jumbotron_title %}
              
          {% endblock jumbotron_title %}
          {% block jumbotron_content %}

              <div class="accordion" id="accordionTipoDocumento">
                  <div class="card border-left-primary shadow">
                    <div class="card-header" id="headingOne">
                      <h2 class="">
                        <button class="btn btn-primary btn-collapse" type="button" data-toggle="collapse" data-target="#collapseTipoDocumento" aria-expanded="false" aria-controls="collapseOne">
                          Tipo de Documento
                        </button>
                      </h2>
                    </div>

                     <div id="collapseTipoDocumento" class="" aria-labelledby="headingOne" data-parent="#accordionTipoDocumento"> <!-- class="collapse"-->
                      <div class="card-body">
                        
                        <div class="row text-right">
                                <div class="col-lg-12">

                                </div>                                
                        </div>
                        <div class="row text-right">
                                <div class="col-lg-12">
                                        <a onclick="return abrir_modal_crud_pais('{% url 'Base:Crear_Tipo_Documento' %}','Tipo de Documento / Nuevo')" class="btn btn-primary btn-sm my-2 my-sm-2">
                                          Crear Tipo de Documento
                                        </a>                                
                                </div>                                
                        </div>                                                
                        <hr/>
                        <div class="row">
                                <div class="col-lg-12">
                                  <div class="boostrap-table">
                                    <div class="buttons-toolbar-tipodocumento">
                                    </div>
                                    <table id="tabla-paises" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-toggle="true" data-show-fullscreen="true" data-toolbar=".buttons-toolbar-tipodocumento" data-locale="es-AR">
                                               <thead>
                                                        <tr>
                                                            <th class="text-center">ID</th>
                                                            <th class="text-center">Descripcion</th>
                                                            <th class="text-center">Estado</th>
                                                            <th class="text-center">Fecha de Creacion</th>
                                                            <th class="text-center">Fecha de Modificacion</th>
                                                            <th class="text-center">Creado por:</th>
                                                            <th class="text-center">Modificado por:</th>
                                                            <th class="text-center">ACCIONES</th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                {% for tdocumento in tipodocumento %}
                                                  <tr>
                                                      <td>{{ tdocumento.pk }}</td>
                                                      <td>{{ tdocumento.descripcion }}</td>
                                                      <td>{{ tdocumento.estado|yesno:"Activo,Inactivo" }}</td>
                                                      <td>{{ tdocumento.fc|date:"d/m/Y H:i:s" }}</td>
                                                      <td>{{ tdocumento.fm|date:"d/m/Y H:i:s" }}</td>
                                                      <td>{{ tdocumento.uc }}</td>
                                                      <td>{{ tdocumento.um }}</td>
                                                      <td class="text-center">
                                                          <!-- -->
                                                          <a onclick="return abrir_modal_crud_pais('{% url 'Base:Detalle_Tipo_Documento' tdocumento.pk %}','Tipo de Documento / {{ tdocumento.pk }}')" class="btn">
                                                              <span class="fas fa-eye"></span>
                                                          </a>
                                                          
                                                          
                                                          <a onclick="return abrir_modal_crud_pais('{% url 'Base:Actualizar_Tipo_Documento' tdocumento.pk %}','Tipo de Documento / {{ tdocumento.pk }}')" class="btn">
                                                              <span class="fa fa-edit"></span>
                                                          </a>
                                                          <a onclick="return abrir_modal_crud_pais('{% url 'Base:Eliminar_Tipo_Documento' tdocumento.pk %}','Tipo de Documento / {{ tdocumento.pk }}')" class="btn">
                                                              <span class="fa fa-trash"></span>
                                                          </a>
                                                          
                                                      </td>
                                                  </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                  </div>      
                                </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              </br>    


              
         
                       
          {% endblock jumbotron_content %}
        {% endblock jumbotron %}
      {% endblock page_content_4 %}

      {% block modales %}
        <!--
        <div class="modal fade" id="ventana_modal_actualizar_pais" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
        </div>
        -->

        <div class="modal fade" id="ventana_modal_crud_pais" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    
        </div>

        
      
      {% endblock modales %}

      {% block jscript %}
      
      <script src='{% static "js/jquery.formset.js" %}'></script>
      </script>
      <script type="text/javascript">
          $('.formset_row-{{ formset.prefix }}').formset({
              addText: 'add another',
              deleteText: 'remove',
              prefix: '{{ formset.prefix }}',
          });
      </script>
      <script>
      $(document).ready(function()
      {
          var table = $('#tabla').dataTable( {
              "language": {
                      url: "/static/localizacion/es_ES.json"
              }
          } );
      });
      </script>

      <!--
      <script>
        var modal_actualizar;

        function abrir_modal_actualizar_pais(url, titulo)
        {
            modal_actualizar = $('#ventana_modal_actualizar_pais').dialog(
            {
                title: titulo,
                modal: true,
                width: 500,
                resizable: false
            }).dialog('open').load(url)
        }

        function cerrar_modal_actualizar_pais()
        {
            modal_actualizar.dialog("close");
        }
        </script>
        -->

      
      {% endblock jscript %}